In [2]:
from importlib import reload
import MyStock as ms
from datetime import datetime as dt

reload(ms)
test = ms.MyStock()
d = dt(2014,2,1)
test.ChangeYearEnd(d.strftime('%Y'))

In [3]:
test.BackTesting(d)

In [13]:
test.universe[test.universe.code == '002144']

,code,name0,rec_report_date,nprg0,nprg1,nprg2,nprg3,nprg4,eps3,eps4,nprg_ondate,eps_ondate
647,002144,宏达高科,2014-04-22,57.2642,254.3915,75.0338,63.2847,-29.4365,0.76,0.48,63.2847,0.76

In [17]:
y = 2015
m = 3
day = 27
code = '002344'
d = dt(y,m,day)
test.BackTesting(d)
test.stock[['code', 'name0', 'rec_report_date'] + ['nprg' + str(i) for i in range(5)] + ['eps3', 'eps4']] [test.stock.code == code]

,code,name0,rec_report_date,nprg0,nprg1,nprg2,nprg3,nprg4,eps3,eps4
251,002344,海宁皮城,2015-03-27,154.8727,124.845,28.2025,45.2628,-8.7712,0.93,0.84