In [1]:
import tushare as ts
import pandas as pd
from datetime import datetime
import os.path
import time
import numpy as np

In [2]:
def update_data_or_not(fileName, year):
    import os
    yearEnd = datetime.now().year-1  #去年
    updateTime = 0
    if ((year==yearEnd and datetime.now().month >= 5) or year < yearEnd):
        updateTime = 30
    else:
        updateTime = 1
    updateTime = updateTime*24*60*60
    finfo = os.stat(fileName)
    return(( time.time() - finfo.st_mtime) > updateTime)

In [3]:
def get_data(dataType, year, q=4): #年报
    typeAll = {'profit', 'report', 'growth'}
    if (dataType not in typeAll):
        print('%s not in %s' %(type, typeAll,))
        return
    saveFileName = './data/%s%02d%s.csv' % (year,q, dataType)
    if os.path.isfile(saveFileName):
        df = pd.read_csv(saveFileName)#, encoding='gb18030')
        # return df
    if (update_data_or_not(saveFileName, year)):  # 如果需要更新
        fun = eval('ts.get_%s_data' % dataType)
        dfnew = fun(year, q)
        df = pd.concat([df[~df['code'].isin(dfnew['code'].values)],dfnew])
        df.to_csv(saveFileName, index=False, encoding='utf-8')
    return df

In [22]:
from pathlib import Path
year = '2020'
q = 4
dataType = 'profit'
saveFileName = Path('./data/%s%02d%s.csv' % (year,q, dataType))
saveFileName.exists()

False

In [44]:
def price_df(date, code):
    saveFileNameStr = './data/stock_%s_%s.csv' % (code,date)
    saveFileName = Path(saveFileNameStr)
    if (saveFileName.exists()):
        maxUpdateTime = 24*60*60
        finfo = saveFileName.stat()
        if ((time.time() - finfo.st_mtime) < maxUpdateTime):#更新时间小于1天
            df = pd.read_csv(saveFileName)
            return df
    df = ts.get_k_data(code, ktype='D', start=date)
    df.to_csv(saveFileNameStr, index=False, encoding='utf-8')
    return df
    

def price_after_report(date, code, index):
    return price_df(date, code).iloc[index]['close']

In [45]:
price_after_report('2017-01-25', '600816', 0)

11.08

In [52]:
stockGDF['price_after_report'] = stockGDF.apply(lambda x: \
                                                price_after_report(x['rec_report_date'], x['code'], 0)\
                                               , axis=1)

In [55]:
stockGDF['price_now'] = stockGDF.apply(lambda x: \
                                                price_after_report(x['rec_report_date'], x['code'], -1)\
                                               , axis=1)

In [56]:
stockGDF

,code,name0,mbrg0,nprg0,nav0,targ0,epsg0,seg0,name1,mbrg1,...,roe4,epcf4,net_profits4,profits_yoy4,distrib4,report_date4,eps,rec_report_date,price_after_report,price_now
0,300593,新雷能,32.2045,1554.8818,24.7699,22.1790,NaN,24.7699,新雷能,25.6332,...,NaN,NaN,NaN,NaN,NaN,NaN,0.51,2017-04-20,29.959,20.11
1,002614,奥佳华,25.8694,287.5262,4.0064,19.2742,295.4545,3.8546,奥佳华,26.0666,...,NaN,NaN,NaN,NaN,NaN,NaN,0.46,2017-04-25,16.708,18.96
2,603579,荣泰健康,25.9892,269.4559,-8.0437,27.7160,NaN,-8.3904,荣泰健康,75.7753,...,NaN,NaN,NaN,NaN,NaN,NaN,3.94,2017-02-27,59.265,65.51
3,601179,中国西电,4.5743,232.0633,25.2853,11.1603,159.2593,25.6805,中国西电,6.2670,...,NaN,NaN,NaN,NaN,NaN,NaN,0.22,2017-04-11,6.697,4.39
4,600867,通化东宝,21.4530,200.8781,1.2569,13.2066,150.0000,1.5026,通化东宝,20.5191,...,NaN,NaN,NaN,NaN,NaN,NaN,0.46,2017-04-12,17.459,22.19
5,002590,万安科技,25.7184,197.3318,5.4494,12.9761,190.0000,4.6133,万安科技,3.0472,...,NaN,NaN,NaN,NaN,NaN,NaN,0.27,2017-04-26,14.829,10.56
6,600816,安信信托,-100.0000,172.7590,37.1393,68.2672,159.6795,37.1393,安信信托,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.71,2017-01-25,11.080,13.06
7,300274,阳光电源,95.7290,148.6635,10.9263,41.8303,143.4783,10.9252,阳光电源,44.4187,...,NaN,NaN,NaN,NaN,NaN,NaN,0.41,2017-04-18,9.904,16.75
8,002126,银轮股份,13.6718,130.1681,8.7538,27.1628,130.7692,9.6411,银轮股份,26.1187,...,NaN,NaN,NaN,NaN,NaN,NaN,0.36,2017-04-15,9.211,9.05
9,300017,网宿科技,47.8880,128.5510,30.7636,41.6327,128.3582,30.7636,网宿科技,58.5711,...,NaN,NaN,NaN,NaN,NaN,NaN,1.62,2017-03-14,16.023,11.86
10,002019,亿帆医药,8.3562,126.2480,5.5804,-0.0522,78.7692,5.5804,亿帆医药,141.3946,...,NaN,NaN,NaN,NaN,NaN,NaN,0.64,2017-03-31,16.747,20.40
11,600057,象屿股份,20.5976,113.0045,21.9546,95.6345,115.3846,17.4561,象屿股份,36.6689,...,NaN,NaN,NaN,NaN,NaN,NaN,0.36,2017-04-26,9.619,8.49
12,603601,再升科技,34.1170,103.4869,14.9058,18.7469,101.4051,16.6719,再升科技,3.7153,...,NaN,NaN,NaN,NaN,NaN,NaN,0.22,2017-03-17,17.490,12.60
13,002020,京新药业,13.6249,103.1254,5.8762,1.8181,1.5936,5.8762,京新药业,26.7920,...,NaN,NaN,NaN,NaN,NaN,NaN,0.33,2017-04-18,11.486,9.71
14,600053,九鼎投资,82.9629,102.1845,2.1311,-5.3049,102.1940,2.1311,九鼎投资,32.7896,...,NaN,NaN,NaN,NaN,NaN,NaN,1.45,2017-04-29,38.125,22.35
15,002271,东方雨虹,31.0235,93.5067,35.2563,25.2083,89.0909,35.0884,东方雨虹,28.2706,...,NaN,NaN,NaN,NaN,NaN,NaN,1.22,2017-04-21,28.578,39.06
16,002271,东方雨虹,31.0235,93.5067,35.2563,25.2083,89.0909,35.0884,东方雨虹,28.2706,...,NaN,NaN,NaN,NaN,NaN,NaN,1.22,2017-04-21,28.578,39.06
17,000957,中通客车,12.1437,79.1239,15.7486,20.1088,83.3333,16.0460,中通客车,12.2880,...,NaN,NaN,NaN,NaN,NaN,NaN,0.99,2017-04-29,13.080,9.32
18,002573,清新环境,99.6045,73.2719,8.5103,33.5246,-3.4571,5.7269,清新环境,66.8965,...,NaN,NaN,NaN,NaN,NaN,NaN,0.70,2017-04-27,22.488,16.24
19,603306,华懋科技,33.5055,72.9955,28.3085,29.0783,72.9796,28.3085,华懋科技,33.9852,...,NaN,NaN,NaN,NaN,NaN,NaN,1.25,2017-04-13,33.792,26.94
20,300642,透景生命,57.7243,65.7828,31.1542,57.2727,NaN,31.1542,透景生命,53.8507,...,NaN,NaN,NaN,NaN,NaN,NaN,2.17,2017-04-10,51.814,87.18
21,300432,富临精工,45.5397,63.5701,52.0679,45.9048,63.5691,52.0679,富临精工,30.5031,...,NaN,NaN,NaN,NaN,NaN,NaN,0.64,2017-04-26,23.149,17.01
22,300630,普利制药,19.1366,61.7553,9.2472,-7.6688,50.0000,9.2472,普利制药,24.2384,...,NaN,NaN,NaN,NaN,NaN,NaN,0.76,2017-03-06,16.550,66.00
23,300237,美晨生态,36.2326,61.6673,4.7333,6.4487,69.6970,5.1827,美晨生态,89.6855,...,NaN,NaN,NaN,NaN,NaN,NaN,0.55,2017-04-25,16.951,14.19
24,002866,传艺科技,32.0865,60.5373,26.1425,13.3863,NaN,26.1425,传艺科技,25.7053,...,NaN,NaN,NaN,NaN,NaN,NaN,0.84,2017-04-06,19.263,24.80
25,002841,视源股份,80.7272,57.5867,90.8435,82.7300,-71.5190,90.2301,视源股份,32.0038,...,NaN,NaN,NaN,NaN,NaN,NaN,2.04,2017-04-01,94.570,62.00
26,002450,康得新,42.8743,55.7473,23.7273,37.5036,-2.7397,23.7231,康得新,63.1249,...,NaN,NaN,NaN,NaN,NaN,NaN,0.60,2017-04-14,18.576,20.00
27,300693,盛弘股份,82.9549,51.8277,64.0593,89.7384,NaN,64.0593,盛弘股份,23.1934,...,NaN,NaN,NaN,NaN,NaN,NaN,0.93,2017-07-31,20.760,30.06
28,300244,迪安诊断,43.7496,51.5895,11.8513,14.9187,10.7692,13.2648,迪安诊断,31.4755,...,NaN,NaN,NaN,NaN,NaN,NaN,0.48,2017-03-28,31.391,21.18
29,000046,泛海控股,33.5652,51.5373,7.6841,31.6902,51.0490,8.5430,泛海控股,2.1046,...,NaN,NaN,NaN,NaN,NaN,NaN,0.60,2017-04-25,8.701,7.92
30,000158,常山北明,16.6228,49.9332,0.6082,0.9861,20.0000,0.6151,常山北明,12.1406,...,NaN,NaN,NaN,NaN,NaN,NaN,0.28,2017-04-29,11.888,8.12
31,300253,卫宁健康,31.2512,49.4068,18.3645,19.0552,53.0612,18.7408,卫宁健康,40.8751,...,NaN,NaN,NaN,NaN,NaN,NaN,0.64,2017-04-25,8.842,8.05
32,300253,卫宁健康,31.2512,49.4068,18.3645,19.0552,53.0612,18.7408,卫宁健康,40.8751,...,NaN,NaN,NaN,NaN,NaN,NaN,0.64,2017-04-25,8.842,8.05
33,000756,新华制药,6.6678,45.8721,1.1160,6.0933,60.0000,1.2803,新华制药,13.2537,...,NaN,NaN,NaN,NaN,NaN,NaN,0.27,2017-03-15,14.326,12.67
34,002078,太阳纸业,4.6736,44.9830,23.9247,4.7251,44.4444,28.9797,太阳纸业,-4.0129,...,NaN,NaN,NaN,NaN,NaN,NaN,0.42,2017-04-25,6.962,11.46
35,603939,益丰药房,17.2020,44.3586,17.9374,21.4046,45.6140,17.7902,益丰药房,23.6062,...,NaN,NaN,NaN,NaN,NaN,NaN,0.66,2017-04-25,28.263,41.03
36,002508,老板电器,35.2094,43.9555,17.2815,20.1738,43.8095,17.8834,老板电器,35.2373,...,NaN,NaN,NaN,NaN,NaN,NaN,1.67,2017-03-30,35.768,52.85
37,002572,索菲亚,45.9828,43.7803,18.0577,18.6103,-30.8044,17.9840,索菲亚,32.3865,...,NaN,NaN,NaN,NaN,NaN,NaN,1.48,2017-03-15,33.804,37.23
38,002415,海康威视,48.9634,43.7589,29.2108,32.8821,-28.9720,29.1294,海康威视,60.3691,...,NaN,NaN,NaN,NaN,NaN,NaN,1.23,2017-04-14,21.412,39.68
39,002445,中南文化,66.9426,39.9866,4.0977,15.3925,42.8571,4.0892,中南文化,-38.2466,...,NaN,NaN,NaN,NaN,NaN,NaN,0.30,2017-04-18,14.891,12.76
40,601599,鹿港文化,10.3468,39.2184,1.2027,16.4651,33.3333,-0.1671,鹿港文化,21.0906,...,NaN,NaN,NaN,NaN,NaN,NaN,0.20,2017-04-25,7.699,6.16
41,300658,延江股份,6.7705,38.6644,44.4804,17.9867,NaN,45.7572,延江股份,65.8838,...,NaN,NaN,NaN,NaN,NaN,NaN,1.19,2017-05-09,27.950,26.35
42,300296,利亚德,36.7638,37.8114,10.6683,30.0506,-14.5161,10.6683,利亚德,51.6368,...,NaN,NaN,NaN,NaN,NaN,NaN,0.87,2017-03-28,19.925,19.35
43,600687,刚泰控股,-4.4647,37.2984,247.3086,221.9518,-33.0887,282.8791,刚泰控股,236.7763,...,NaN,NaN,NaN,NaN,NaN,NaN,0.33,2017-04-22,12.808,11.04
44,002402,和而泰,33.6818,35.4817,1.2560,10.1456,34.6154,0.9245,和而泰,15.6381,...,NaN,NaN,NaN,NaN,NaN,NaN,0.14,2017-03-29,10.650,7.77
45,300121,阳谷华泰,62.8682,34.3584,3.6361,29.4148,3.4070,3.6361,阳谷华泰,17.6125,...,NaN,NaN,NaN,NaN,NaN,NaN,0.56,2017-02-24,18.043,13.49
46,002859,洁美科技,25.4492,33.7393,124.3482,8.7533,NaN,124.3482,洁美科技,25.4344,...,NaN,NaN,NaN,NaN,NaN,NaN,1.75,2017-03-13,17.112,28.00
47,300182,捷成股份,28.5996,33.3725,24.6166,51.5075,5.8824,24.5500,捷成股份,32.0371,...,NaN,NaN,NaN,NaN,NaN,NaN,0.39,2017-03-25,10.086,9.75
48,002589,瑞康医药,28.2029,30.3360,80.0536,42.7470,26.2712,78.0525,瑞康医药,31.3890,...,NaN,NaN,NaN,NaN,NaN,NaN,1.01,2017-03-31,17.790,13.05
49,300367,东方网力,43.0748,30.2518,38.6610,60.3708,30.2544,38.6610,东方网力,46.4822,...,NaN,NaN,NaN,NaN,NaN,NaN,0.42,2017-04-25,18.000,14.18
50,002609,捷顺科技,11.9579,29.9172,9.6891,13.9150,-17.0213,9.7067,捷顺科技,19.0068,...,NaN,NaN,NaN,NaN,NaN,NaN,0.31,2017-04-26,15.693,14.28
51,603658,安图生物,28.6718,29.0803,45.5809,46.4482,-45.0000,45.5809,安图生物,37.6024,...,NaN,NaN,NaN,NaN,NaN,NaN,0.89,2017-03-03,44.319,46.87
52,002179,中航光电,18.0753,27.4625,67.8078,58.3145,8.9325,65.6155,中航光电,34.1877,...,NaN,NaN,NaN,NaN,NaN,NaN,1.22,2017-03-16,30.895,34.72
53,300166,东方国信,49.5708,27.0863,38.5257,45.7267,25.8621,38.2350,东方国信,31.4219,...,NaN,NaN,NaN,NaN,NaN,NaN,0.53,2017-04-26,11.410,12.45
54,300267,尔康制药,21.0789,26.5540,14.5771,16.9207,26.5625,14.5928,尔康制药,35.5666,...,NaN,NaN,NaN,NaN,NaN,NaN,0.50,2017-04-21,13.168,6.24
55,000418,小天鹅A,26.4946,25.3201,6.6765,9.7436,20.3704,6.0411,小天鹅A,23.7886,...,NaN,NaN,NaN,NaN,NaN,NaN,1.86,2017-03-09,36.105,71.85
56,002579,中京电子,4.0788,25.1482,1.4526,3.8286,-16.6667,1.4526,中京电子,8.1302,...,NaN,NaN,NaN,NaN,NaN,NaN,0.31,2017-04-15,11.688,10.20

In [4]:
dfs = {'profit':{}, 'report':{}, 'growth':{}}
types = {'profit', 'report', 'growth'}
yearEnd = datetime.now().year  #今年
for t in types:
    for y in range(yearEnd-5, yearEnd):
        dfs[t][y] = get_data(t, y).rename(columns={i: i+str(y-yearEnd+5) for i in get_data(t, y).columns if i not in {'code'}})
        #dfs[t][y]['code'] = dfs[t][y]['code'].astype(int)
        dfs[t][y]['code'] = dfs[t][y]['code'].apply(lambda x: '%06d' % int(x))
#         
#

In [5]:
dfs_growth = pd.DataFrame(columns=['code'])
for i in range(yearEnd-5, yearEnd):
    dfs_growth = dfs_growth.merge(dfs['growth'][i], on=['code'], how='outer')

# dfs['profit'][2013].merge(dfs['profit'][2014], on=['code', 'name'], how='outer')

In [24]:
stockGDF = dfs_growth[((np.isnan(dfs_growth.nprg4) & (dfs_growth.nprg0>25)) | (dfs_growth.nprg4>25))  &(dfs_growth.nprg1>25)\
           &(dfs_growth.nprg2>25)&(dfs_growth.nprg3>25)]

In [29]:
dfs_growth[[['nprg'+str(i) for i in range(5)]][((np.isnan(dfs_growth.nprg4) & (dfs_growth.nprg0>25)) | (dfs_growth.nprg4>25))]

KeyError: "['rec_report_date'] not in index"

In [6]:
stockGDF = dfs_growth[(dfs_growth.nprg0>25)&(dfs_growth.nprg1>25)\
           &(dfs_growth.nprg2>25)&(dfs_growth.nprg3>25)]

In [7]:
price = ts.get_realtime_quotes(stockGDF['code'])
def real_price(x, y):
    return x if x > 0 else y

price['price'] = price['price'].astype(float)
price['pre_close'] = price['pre_close'].astype(float)
price['price_real'] = price.apply(lambda x: real_price(x['price'], x['pre_close']), axis=1)
#price['price_true'] = map(lambda x, y : , price['price'].astype(float), price['pre_close'].astype(float))
#price = price.drop(['price_true'], axis=1)

In [8]:
stockGDF = stockGDF.merge(price, on='code')

In [48]:
dfs_report = pd.DataFrame(columns=['code'])
for i in range(yearEnd-2, yearEnd):
    dfs_report = dfs_report.merge(dfs['report'][i], on=['code'], how='outer')
# dfs['profit'][2013].merge(dfs['profit'][2014], on=['code', 'name'], how='outer')
dfs_report = dfs_report.drop_duplicates()
dfs_report['eps'] = dfs_report.apply(lambda x: x['eps3'] if pd.isnull(x['eps4']) else x['eps4'], axis=1)
dfs_report['rec_report_date'] = dfs_report.apply(lambda x: '%d-%s' % (yearEnd-1,x['report_date3'])\
                                                 if pd.isnull(x['report_date4']) else '%d-%s' % (yearEnd,x['report_date4']), axis=1)

In [49]:

stockGDF = stockGDF.merge(dfs_report, on='code', how='left')

In [11]:
#stockGDF[stockGDF.code == '002078']

In [62]:
stockGDF['nprg'] = stockGDF.apply(lambda x: x['nprg3'] if pd.isnull(x['nprg4']) else x['nprg4'], axis=1)

In [59]:
df_basics = ts.get_stock_basics()
stockGDF = stockGDF.merge(df_basics, left_on='code', right_index=True)

In [63]:
stockGDF['peg'] = round(stockGDF['pe']/stockGDF['nprg'],2)

In [15]:
stockGDF[['code', 'name','peg', 'pe', 'eps', 'nprg', 'price_real', 'rec_report_date']\
         + ['nprg'+str(i) for i in range(5)]][stockGDF.peg < 0.4]

,code,name,peg,pe,eps,nprg,price_real,rec_report_date,nprg0,nprg1,nprg2,nprg3,nprg4
6,600816,安信信托,0.21,15.80,1.71,76.1722,12.94,2017-01-25,172.7590,266.0663,68.2561,76.1722,NaN
10,002019,亿帆医药,0.24,21.07,0.64,88.8034,20.58,2017-03-31,126.2480,829.1151,52.1242,88.8034,NaN
23,300237,美晨生态,0.20,23.41,0.55,115.0827,13.11,2017-04-25,61.6673,237.5191,106.3751,115.0827,NaN
25,002841,视源股份,0.29,31.68,2.04,109.2521,63.53,2017-04-01,57.5867,37.6380,56.9934,109.2521,NaN
28,300244,迪安诊断,0.39,35.03,0.48,89.0256,20.79,2017-03-28,51.5895,42.0045,39.8372,89.0256,NaN
31,300253,卫宁健康,0.32,72.64,0.64,225.3914,8.45,2017-04-25,49.4068,56.4341,31.6772,225.3914,NaN
32,300253,卫宁健康,0.32,72.64,0.64,225.3914,8.45,2017-04-25,49.4068,56.4341,31.6772,225.3914,NaN
34,002078,太阳纸业,0.30,16.21,0.42,53.3837,11.35,2017-04-25,44.9830,72.0237,38.0570,53.3837,NaN
42,300296,利亚德,0.37,37.31,0.87,100.6575,19.66,2017-03-28,37.8114,104.1679,102.7194,100.6575,NaN
45,300121,阳谷华泰,0.08,22.87,0.56,298.7958,13.49,2017-02-24,34.3584,71.0576,45.7954,298.7958,NaN
47,300182,捷成股份,0.29,24.42,0.39,85.3874,9.70,2017-03-25,33.3725,27.2774,102.7172,85.3874,NaN
48,002589,瑞康医药,0.11,20.39,1.01,177.6553,12.87,2017-03-31,30.3360,26.0113,33.7655,177.6553,NaN
54,300267,尔康制药,0.25,17.40,0.50,69.0750,5.62,2017-04-21,26.5540,48.3849,108.4068,69.0750,NaN

In [69]:
stockGDF[['code', 'name0','peg', 'pe', 'eps', 'nprg', 'price_now', 'rec_report_date', 'price_after_report', '涨幅']\
         + ['nprg'+str(i) for i in range(5)]][stockGDF.peg < 0.4].describe()

,peg,pe,eps,nprg,price_now,price_after_report,涨幅,nprg0,nprg1,nprg2,nprg3,nprg4
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,0.0
mean,0.259231,31.605385,0.803846,131.851808,16.943846,21.107462,-0.082760,59.698415,144.164154,62.953977,131.851808,NaN
std,0.091784,19.434627,0.509600,75.430532,14.347163,22.997491,0.301151,42.317182,219.631397,31.026579,75.430532,NaN
min,0.080000,15.800000,0.390000,53.383700,6.240000,6.962000,-0.526124,26.554000,26.011300,31.677200,53.383700,NaN
25%,0.210000,20.390000,0.500000,85.387400,9.750000,10.086000,-0.266442,34.358400,42.004500,38.057000,85.387400,NaN
50%,0.290000,23.410000,0.640000,100.657500,13.060000,16.747000,-0.089572,49.406800,56.434100,52.124200,100.657500,NaN
75%,0.320000,35.030000,0.870000,177.655300,19.350000,18.043000,-0.028858,57.586700,104.167900,102.717200,177.655300,NaN
max,0.390000,72.640000,2.040000,298.795800,62.000000,94.570000,0.646079,172.759000,829.115100,108.406800,298.795800,NaN

In [68]:
stockGDF[['code', 'name0','peg', 'pe', 'eps', 'nprg', 'price_now', 'rec_report_date', 'price_after_report', '涨幅']\
         + ['nprg'+str(i) for i in range(5)]].describe()

,peg,pe,eps,nprg,price_now,price_after_report,涨幅,nprg0,nprg1,nprg2,nprg3,nprg4
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,0.0
mean,0.903333,45.157193,0.842456,66.736137,23.238596,21.424246,0.072415,102.822398,88.537825,72.883000,66.736137,NaN
std,0.673523,47.357487,0.666859,60.682295,18.677413,14.967091,0.522287,205.126483,117.717781,121.614073,60.682295,NaN
min,0.080000,15.800000,0.140000,25.695400,4.390000,6.697000,-0.526124,25.148200,26.011300,25.102700,25.695400,NaN
25%,0.440000,25.260000,0.390000,31.733100,10.560000,11.688000,-0.259814,37.811400,41.809400,33.765500,31.733100,NaN
50%,0.760000,35.430000,0.640000,45.895300,16.240000,17.112000,-0.089572,51.589500,54.117100,45.795400,45.895300,NaN
75%,1.080000,45.620000,1.220000,66.062500,28.000000,28.263000,0.218129,102.184500,72.023700,69.056300,66.062500,NaN
max,3.890000,355.270000,3.940000,298.795800,87.180000,94.570000,2.987915,1554.881800,829.115100,925.071200,298.795800,NaN

In [57]:
stockGDF['涨幅'] = (stockGDF['price_now'] - stockGDF['price_after_report'])/stockGDF['price_after_report']

In [74]:
stockGDF[['code', 'name0','peg', 'pe', 'eps', 'nprg', 'price_now', 'rec_report_date', 'price_after_report', '涨幅']\
         + ['nprg'+str(i) for i in range(5)]][stockGDF['涨幅']>0]

,code,name0,peg,pe,eps,nprg,price_now,rec_report_date,price_after_report,涨幅,nprg0,nprg1,nprg2,nprg3,nprg4
1,002614,奥佳华,0.83,37.94,0.46,45.8953,18.96,2017-04-25,16.708,0.134786,287.5262,32.8704,31.2568,45.8953,NaN
2,603579,荣泰健康,0.98,44.38,3.94,45.3725,65.51,2017-02-27,59.265,0.105374,269.4559,137.9635,131.6363,45.3725,NaN
4,600867,通化东宝,1.44,43.91,0.46,30.4331,22.19,2017-04-12,17.459,0.270978,200.8781,54.0926,77.2133,30.4331,NaN
6,600816,安信信托,0.21,15.80,1.71,76.1722,13.06,2017-01-25,11.080,0.178700,172.7590,266.0663,68.2561,76.1722,NaN
7,300274,阳光电源,0.86,24.23,0.41,28.1662,16.75,2017-04-18,9.904,0.691236,148.6635,56.4849,50.4169,28.1662,NaN
10,002019,亿帆医药,0.24,21.07,0.64,88.8034,20.40,2017-03-31,16.747,0.218129,126.2480,829.1151,52.1242,88.8034,NaN
15,002271,东方雨虹,0.73,29.74,1.22,40.8208,39.06,2017-04-21,28.578,0.366786,93.5067,57.3795,25.1027,40.8208,NaN
16,002271,东方雨虹,0.73,29.74,1.22,40.8208,39.06,2017-04-21,28.578,0.366786,93.5067,57.3795,25.1027,40.8208,NaN
20,300642,透景生命,1.04,50.70,2.17,48.6282,87.18,2017-04-10,51.814,0.682557,65.7828,59.4723,82.7018,48.6282,NaN
22,300630,普利制药,2.65,99.88,0.76,37.6250,66.00,2017-03-06,16.550,2.987915,61.7553,47.9018,38.2835,37.6250,NaN
24,002866,传艺科技,0.92,44.51,0.84,48.3710,24.80,2017-04-06,19.263,0.287442,60.5373,51.1195,42.6688,48.3710,NaN
26,002450,康得新,0.71,28.21,0.60,39.8683,20.00,2017-04-14,18.576,0.076658,55.7473,51.6429,40.4621,39.8683,NaN
27,300693,盛弘股份,1.06,51.22,0.93,48.4970,30.06,2017-07-31,20.760,0.447977,51.8277,41.8094,37.6904,48.4970,NaN
34,002078,太阳纸业,0.30,16.21,0.42,53.3837,11.46,2017-04-25,6.962,0.646079,44.9830,72.0237,38.0570,53.3837,NaN
35,603939,益丰药房,1.82,50.69,0.66,27.8743,41.03,2017-04-25,28.263,0.451721,44.3586,41.8620,25.1644,27.8743,NaN
36,002508,老板电器,0.86,39.17,1.67,45.7593,52.85,2017-03-30,35.768,0.477578,43.9555,50.3235,45.8447,45.7593,NaN
37,002572,索菲亚,1.09,44.79,1.48,41.0706,37.23,2017-03-15,33.804,0.101349,43.7803,30.5249,36.7436,41.0706,NaN
38,002415,海康威视,1.71,44.64,1.23,26.1437,39.68,2017-04-14,21.412,0.853166,43.7589,52.1164,25.6734,26.1437,NaN
46,002859,洁美科技,0.75,40.88,1.75,54.6662,28.00,2017-03-13,17.112,0.636279,33.7393,32.8748,60.7013,54.6662,NaN
51,603658,安图生物,1.77,45.62,0.89,25.8001,46.87,2017-03-03,44.319,0.057560,29.0803,67.8185,33.5248,25.8001,NaN
52,002179,中航光电,1.14,32.72,1.22,28.7020,34.72,2017-03-16,30.895,0.123806,27.4625,45.2705,61.1319,28.7020,NaN
53,300166,东方国信,1.34,62.34,0.53,46.4413,12.45,2017-04-26,11.410,0.091148,27.0863,49.9736,69.0563,46.4413,NaN
55,000418,小天鹅A,1.08,29.82,1.86,27.5039,71.85,2017-03-09,36.105,0.990029,25.3201,66.5747,33.1677,27.5039,NaN

In [ ]:
dfs_growth[['nprg'+str(i) for i in range(5)]][dfs_growth.code == '600522']

In [76]:
df_basics = ts.get_stock_basics(date='2018-01-01')

HTTPError: HTTP Error 404: Not Found

In [112]:
from datetime import datetime as dt
import datetime
import tushare as ts

def get_stock_basics(date):
    saveFileNameStr = './data/basics/%s.csv' % (date)
    saveFileName = Path(saveFileNameStr)
    if (saveFileName.exists()):
        df = pd.read_csv(saveFileName)
        df['code'] = df['code'].apply(lambda x: '%06d' % int(x))
        df.set_index('code', inplace=True, drop=True)
        return df
    try:
        df = ts.get_stock_basics(date)
        df.to_csv(saveFileNameStr, encoding='utf-8')
        return df
    except:
        tmpDate = dt.strptime(date, '%Y-%m-%d') + datetime.timedelta(days=1)
        date = tmpDate.strftime('%Y-%m-%d')
        df = get_stock_basics(date)
        df.to_csv(saveFileNameStr, encoding='utf-8')
        return df

def basics_df(date):
    if date is None:
        df = ts.get_stock_basics()
        return df
    df = get_stock_basics(date)
    return df
    
def pe(code, date=None):
    if code not in basics_df(date).index:
        return np.NaN
    return basics_df(date).loc[code, 'pe']

In [101]:
dftest = basics_df('2017-04-15')

In [89]:
dftest = pd.DataFrame([['300593', '2017-04-25']], columns=['code', 'rec_report_date'])

In [113]:
stockGDF['pe_report_date'] = stockGDF.apply(lambda x: pe(x['code'], x['rec_report_date']), axis=1)

In [96]:
stockGDF[stockGDF.code == '300642']['rec_report_date']

20    2017-04-10
Name: rec_report_date, dtype: object

In [107]:
stockGDF[stockGDF.code == '300642']['rec_report_date']['pe_report_date'] = np.NAN

C:\Users\jlgs-jz\Anaconda3\envs\rqalpha\lib\site-packages\pandas\core\series.py:747: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[key] = value
C:\Users\jlgs-jz\Anaconda3\envs\rqalpha\lib\site-packages\IPython\core\interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [120]:
# stockGDF.dropna(inplace=True)

In [121]:
stockGDF

Empty DataFrame
Columns: [code, name0, mbrg0, nprg0, nav0, targ0, epsg0, seg0, name1, mbrg1, nprg1, nav1, targ1, epsg1, seg1, name2, mbrg2, nprg2, nav2, targ2, epsg2, seg2, name3_x, mbrg3, nprg3, nav3, targ3, epsg3, seg3, name4_x, mbrg4, nprg4, nav4, targ4, epsg4, seg4, name3_y, eps3, eps_yoy3, bvps3, roe3, epcf3, net_profits3, profits_yoy3, distrib3, report_date3, name4_y, eps4, eps_yoy4, bvps4, roe4, epcf4, net_profits4, profits_yoy4, distrib4, report_date4, eps, rec_report_date, price_after_report, price_now, 涨幅, industry, area, pe, outstanding, totals, totalAssets, liquidAssets, fixedAssets, reserved, reservedPerShare, esp, bvps, pb, timeToMarket, undp, perundp, rev, profit, gpr, npr, holders, nprg, peg, pe_report_date]
Index: []

[0 rows x 85 columns]