In [1]:
import tushare as ts
import pandas as pd
from datetime import datetime
import os.path
import time
import numpy as np

In [2]:
def get_data(dataType, year, q=4): #年报
    typeAll = {'profit', 'report', 'growth'}
    if (dataType not in typeAll):
        print('%s not in %s' %(type, typeAll,))
        return
    saveFileName = './data/%s%02d%s.csv' % (year,q, dataType)
    if os.path.isfile(saveFileName):
        df = pd.read_csv(saveFileName)#, encoding='gb18030')
        return df
    fun = eval('ts.get_%s_data' % dataType)
    df = fun(year, q)
    df.to_csv(saveFileName, index=False, encoding='utf-8')
    return df

In [17]:
df2016 = get_data('report', 2016)

[Getting data:]###########################################################

In [15]:
df2015 = get_data('report', 2015)

In [18]:
df2016[df2016['name'].str.contains('太阳')]

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date
945,002078,太阳纸业,0.42,55.56,NaN,14.12,NaN,105676.18,58.52,10派0.5,04-25
1718,002300,太阳电缆,0.29,-28.45,NaN,11.85,NaN,15533.08,-14.23,10派2.1,04-13
2559,000525,红太阳,0.22,-38.16,NaN,2.70,NaN,12641.31,-30.52,10派3,03-28
2971,000591,太阳能,0.53,-19.23,NaN,6.92,NaN,65324.93,38.18,10派0.52送2转10,03-18
3460,300606,金太阳,0.60,23.66,3.63,18.07,0.78,4020.83,23.87,NaN,02-07

In [10]:
87*40+4

3484